@import url(https://fonts.googleapis.com/css?family=Solway:300,regular,500,700,800);

body {
    background-image: url("./images/bookbackground.jpg");
    background-color: #ffffff;
}

h1 {
color: black;
font-family: 'Solway', sans-serif;
font-size: 40px;
margin: 10px;
}