@import url(https://fonts.googleapis.com/css?family=EB+Garamond:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic);

body {
    background-image: url("./images/bookbackground.jpg");
    background-color: #ffffff;
}

h1 {
color: black;
font-family: 'EB Garamond', sans-serif;
font-size: 50px;
margin: 10px;
margin-left: 20px;
display:inline-block; 
}

h2 {
color: black;
font-family: 'EB Garamond', sans-serif;
font-size: 30px;
margin: 0px;
margin-left: 20px;
display:inline-block; 
}

.quiz {
color: black;
font-family: 'EB Garamond', sans-serif;
font-size: 30px;
margin: auto;
width: 50%;
padding: 10px;
}

.btn {
font-family: 'EB Garamond', sans-serif;
font-size: 30px;
background-color: black;
border: none;
}

.timer {
color: black;
font-family: 'EB Garamond', sans-serif;
font-size: 30px;
margin: 40px;
float: right;
}

.questions {
color: black;
font-family: 'EB Garamond', sans-serif;
font-size: 50px;
margin: auto;
width: 50%;
padding: 10px;
}

.question-display {
display: none;
}

#question-text {
color: black;
font-family: 'EB Garamond', sans-serif;
font-size: 40px;
margin: auto;
width: 50%;
padding: 10px;
}

.answers {
color: black;
font-family: 'EB Garamond', sans-serif;
font-size: 30px;
margin: auto;
width: 50%;
padding: 10px;
}

.highscores {
color: black;
font-family: 'EB Garamond', sans-serif;
font-size: 50px;
margin: auto;
width: 50%;
padding: 10px;
}

.leaderboard {
color: black;
font-family: 'EB Garamond', sans-serif;
font-size: 30px;
margin: auto;
width: 50%;
padding: 10px;
}

